# Server
SERVER_PORT=8080
SERVER_MODE=debug

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=CHANGE_ME_PLEASE  
DATABASE_DBNAME=flashdeal_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# JWT
JWT_SECRET=secret_key_placeholder <-- Giá trị giả